div {
    border: 1px solid black;
}
#container {
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width:1000px;
    margin: 0px;
    height: 1000px;
    /*flex-basis: 6.25%;*/
    box-sizing: border-box;
    
}

.squareDiv {
    background-color: blue;
    flex: 1 1 6%;
    margin:0%;
    

}